<ul class="list-unstyled">
  <% itineraries.each do |itinerary| %>
    <li class="media mb-3">
      <div class="media-body">
        <div>
          <p><%= link_to itinerary.title, itinerary %></p>
          <p><%= itinerary.image %></p>
          <p><%= itinerary.start_date %></p>
          <p><%= itinerary.end_date %></p>
        </div>
      </div>
    </li>
  <% end %>
</ul>