.itinerary-date {
    background-color: #eae3e3;
    color: #348498;
    padding: 5px;
}
.schedule-header {
    padding: 10px;
}
.schedule-header p {
    margin: 0;
}
.schedule-title a {
    color: #004d61;
    font-weight: bold;
    font-size: 16px;
}
.schedule-title {
    float: left;
}
.schedule-date {
    float: right;
    font-size: 14px;
}
.schedule-body p {
    margin-bottom: 0;
}
.schedule-supplement {
    float: left;
}
.schedule-image {
    margin-left: auto;
}